*.pyc
log
*.o
*.json
*.csv
*.pd
2.counting/mcmc/mcmc
2.counting/mcmc/gui
2.counting/mcmc/guiLinkDef.cpp
2.counting/mcmc/guiLinkDef_rdict.pcm
*.ipynb_checkpoints*
2.counting/mcmc/*/
!2.counting/mcmc/Utils/
2.counting/mcmc/reader
2.counting/mcmc/sigma
2.counting/mcmc/*.eps
2.counting/mcmc/test_matrix
2.counting/mcmc/test_model
3.acceptance/acceptance-c++/*/
*.dat
*.a
0.export2bq/gitversion.c
*.root
0.export2bq/protonB*
0.export2bq/lsfjob/*/