*.pyc
log
*.o
*.json
*.csv
*.pd
2.counting/mcmc/mcmc
2.counting/mcmc/reader
2.counting/mcmc/test_matrix
2.counting/mcmc/test_model
3.acceptance/acceptance-c++/*/
*.dat
*.a
0.export2bq/gitversion.c
*.root